Repository fuxingloh/contented, pull requests merged in 2023-01, with the labels that each got.

#296 fix(contented-preview): next 13 <a> within <Link> deprecated
  packages/contented-preview/src/pages/_components/ContentNavigation.jsx
  packages/contented-preview/src/pages/_components/Header.jsx
Labels: kind/fix, area/contented-preview

#299 fix(contented-preview): Added missing lodash dep
  package-lock.json
  packages/contented-preview/package.json
Labels: kind/fix, area/contented-preview

#312 chore(contented): ContentedWatcher now uses glob pattern ignore
  packages/contented/src/commands/contented/ContentedWatcher.ts
Labels: kind/chore, area/contented

#313 chore(workflow): replace all node-version with node-version-file
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: kind/chore, area/workflow

#314 fix(contented-preview): links in headers not displaying properly
  packages/contented-example/contented-example-lorem/[0]lorem-1.md
  packages/contented-preview/src/styles/prose.css
Labels: kind/fix, area/contented-example, area/contented-preview

#326 chore(contented-preview): throw verbose error for undefined collections
  packages/contented-preview/src/errors/PipelineCollectionNotFoundException.js
  packages/contented-preview/src/pages/_components/Header.jsx
Labels: kind/chore, area/contented-preview
